-- MySQL dump 10.13  Distrib 8.4.8, for Linux (x86_64)
--
-- Host: localhost    Database: security_db
-- ------------------------------------------------------
-- Server version	8.4.8

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `components`
--

DROP TABLE IF EXISTS `components`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `components` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(100) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `created_dt` datetime(6) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `parent` bigint DEFAULT NULL,
  `status` varchar(10) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `updated_dt` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `components`
--

LOCK TABLES `components` WRITE;
/*!40000 ALTER TABLE `components` DISABLE KEYS */;
INSERT INTO `components` VALUES (1,'PRODUCT_CATEGORY',NULL,'2026-02-09 14:53:26.795077','Product Category',NULL,'ACTIVE',NULL,NULL),(2,'ELECTRONICS',NULL,'2026-02-09 14:53:26.860406','Electronics',1,'ACTIVE',NULL,NULL),(3,'FASHION',NULL,'2026-02-09 14:53:26.893329','Fashion',1,'ACTIVE',NULL,NULL),(4,'HOME_GARDEN',NULL,'2026-02-09 14:53:26.920352','Home & Garden',1,'ACTIVE',NULL,NULL),(5,'SPORTS',NULL,'2026-02-09 14:53:26.947231','Sports',1,'ACTIVE',NULL,NULL),(6,'BOOKS',NULL,'2026-02-09 14:53:26.970986','Books',1,'ACTIVE',NULL,NULL);
/*!40000 ALTER TABLE `components` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customer` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` bigint DEFAULT NULL,
  `created_dt` datetime(6) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `mobile_no` varchar(20) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `status` varchar(10) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `updated_dt` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer`
--

LOCK TABLES `customer` WRITE;
/*!40000 ALTER TABLE `customer` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `image`
--

DROP TABLE IF EXISTS `image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `image` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` bigint DEFAULT NULL,
  `created_dt` datetime(6) DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `status` varchar(10) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `updated_dt` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `image`
--

LOCK TABLES `image` WRITE;
/*!40000 ALTER TABLE `image` DISABLE KEYS */;
INSERT INTO `image` VALUES (8,NULL,'2026-02-09 11:20:06.667842','85b5826a-1c82-42cc-a32f-bd2945ee0697.jpg','4ce84f6e5d0577cdf123f08d27fe7da7.jpg','ACTIVE',NULL,NULL),(9,NULL,'2026-02-09 11:20:19.357161','89bdee4b-5296-4c33-8945-fe3e9fd17c57.jpg','Samsung-Galaxy-S24-Ultra-1TB.jpg','ACTIVE',NULL,NULL),(10,NULL,'2026-05-12 09:07:54.405898','c7189081-d609-4332-ac70-03fea1554824.png','microservices-architecture-correct.png','ACTIVE',NULL,NULL),(11,NULL,'2026-05-12 10:44:05.360159','46e1dda4-9dd6-4168-b596-4dcd93c03395.jpg','U-0001-13.jpg','ACTIVE',NULL,NULL);
/*!40000 ALTER TABLE `image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu`
--

DROP TABLE IF EXISTS `menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menu` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` bigint DEFAULT NULL,
  `created_dt` datetime(6) DEFAULT NULL,
  `display_order` int DEFAULT NULL,
  `icon` varchar(50) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `parent` bigint DEFAULT NULL,
  `path` varchar(255) DEFAULT NULL,
  `status` varchar(10) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `updated_dt` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu`
--

LOCK TABLES `menu` WRITE;
/*!40000 ALTER TABLE `menu` DISABLE KEYS */;
INSERT INTO `menu` VALUES (5,NULL,'2026-02-12 04:53:52.051430',1,'fas fa-tachometer-alt','Dashboard',NULL,'/dashboard','ACTIVE',NULL,NULL),(6,NULL,'2026-02-12 04:53:52.057482',2,'fas fa-users-cog','User Management',NULL,'/users','ACTIVE',NULL,NULL),(7,NULL,'2026-02-12 04:53:52.062143',3,'fas fa-user-tie','Customers',NULL,'/customers','ACTIVE',NULL,NULL),(8,NULL,'2026-02-12 04:53:52.067719',4,'fas fa-boxes','Products',NULL,'/products','ACTIVE',NULL,NULL);
/*!40000 ALTER TABLE `menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `category_code` varchar(100) DEFAULT NULL,
  `code` varchar(100) DEFAULT NULL,
  `created_by` bigint DEFAULT NULL,
  `created_dt` datetime(6) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `price` decimal(10,2) DEFAULT NULL,
  `status` varchar(10) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `updated_dt` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_image`
--

DROP TABLE IF EXISTS `product_image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_image` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` bigint DEFAULT NULL,
  `created_dt` datetime(6) DEFAULT NULL,
  `image_id` bigint DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `product_id` bigint DEFAULT NULL,
  `status` varchar(10) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `updated_dt` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_image`
--

LOCK TABLES `product_image` WRITE;
/*!40000 ALTER TABLE `product_image` DISABLE KEYS */;
INSERT INTO `product_image` VALUES (9,NULL,'2026-02-09 11:20:19.481169',9,'http://localhost:8084/api/products/images/view/89bdee4b-5296-4c33-8945-fe3e9fd17c57.jpg',31,'ACTIVE',NULL,NULL),(11,NULL,'2026-05-12 10:44:05.594467',11,'http://localhost:8084/api/products/images/view/46e1dda4-9dd6-4168-b596-4dcd93c03395.jpg',6,'ACTIVE',NULL,NULL);
/*!40000 ALTER TABLE `product_image` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` bigint DEFAULT NULL,
  `created_dt` datetime(6) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `status` varchar(10) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `updated_dt` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,NULL,'2026-02-12 04:53:51.710999','ADMIN','ACTIVE',NULL,NULL),(2,NULL,'2026-02-12 04:53:51.788310','USER','ACTIVE',NULL,NULL);
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles_menu`
--

DROP TABLE IF EXISTS `roles_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles_menu` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` bigint DEFAULT NULL,
  `created_dt` datetime(6) DEFAULT NULL,
  `status` varchar(10) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `updated_dt` datetime(6) DEFAULT NULL,
  `menu_id` bigint NOT NULL,
  `role_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfekex9brc6x4hak3l1ndgscvp` (`menu_id`),
  KEY `FKgblurrltvrmes99cf7xco1onh` (`role_id`),
  CONSTRAINT `FKfekex9brc6x4hak3l1ndgscvp` FOREIGN KEY (`menu_id`) REFERENCES `menu` (`id`),
  CONSTRAINT `FKgblurrltvrmes99cf7xco1onh` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles_menu`
--

LOCK TABLES `roles_menu` WRITE;
/*!40000 ALTER TABLE `roles_menu` DISABLE KEYS */;
INSERT INTO `roles_menu` VALUES (1,NULL,'2026-02-12 04:53:52.114433','ACTIVE',NULL,NULL,5,1),(2,NULL,'2026-02-12 04:53:52.120091','ACTIVE',NULL,NULL,6,1),(3,NULL,'2026-02-12 04:53:52.127483','ACTIVE',NULL,NULL,7,1),(4,NULL,'2026-02-12 04:53:52.133026','ACTIVE',NULL,NULL,8,1),(5,NULL,'2026-02-12 04:53:52.139535','ACTIVE',NULL,NULL,5,2),(6,NULL,'2026-02-12 04:53:52.145607','ACTIVE',NULL,NULL,7,2),(7,NULL,'2026-02-12 04:53:52.152081','ACTIVE',NULL,NULL,8,2);
/*!40000 ALTER TABLE `roles_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_dt` datetime(6) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `mobile_no` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `suspended` bit(1) NOT NULL,
  `user_name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_lqjrcobrh9jc8wpcar64q1bfh` (`user_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'2026-02-12 04:53:51.975237','admin@example.com','0000000000','$2a$10$tjWRoV1ZHtEgKX6U17mTeeA1NMcG/0Ncc9Kgu0DosedkVY6zGxIpS',_binary '\0','admin'),(2,'2026-02-12 04:56:47.036771','testuser@example.com','0812345678','$2a$10$c6SEGJIFUO8hU30mEv3iM.hZBBrDn7sO0fbXIc05hMxX6Z/megVDW',_binary '\0','testuser'),(3,'2026-05-15 06:23:57.372108','testuser@example.com','0812345678','$2a$10$43s9wm2EVUQmlxGN3P6n1.aPrLB8mKMUE8X1sJpithU/p53Fh9WKS',_binary '\0','testusers');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_roles`
--

DROP TABLE IF EXISTS `user_roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_roles` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_by` bigint DEFAULT NULL,
  `created_dt` datetime(6) DEFAULT NULL,
  `status` varchar(10) DEFAULT NULL,
  `updated_by` bigint DEFAULT NULL,
  `updated_dt` datetime(6) DEFAULT NULL,
  `role_id` bigint NOT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKh8ciramu9cc9q3qcqiv4ue8a6` (`role_id`),
  KEY `FK55itppkw3i07do3h7qoclqd4k` (`user_id`),
  CONSTRAINT `FK55itppkw3i07do3h7qoclqd4k` FOREIGN KEY (`user_id`) REFERENCES `user` (`id`),
  CONSTRAINT `FKh8ciramu9cc9q3qcqiv4ue8a6` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_roles`
--

LOCK TABLES `user_roles` WRITE;
/*!40000 ALTER TABLE `user_roles` DISABLE KEYS */;
INSERT INTO `user_roles` VALUES (1,NULL,'2026-02-12 04:53:51.983382','ACTIVE',NULL,NULL,1,1),(2,NULL,'2026-02-12 04:56:47.063811','ACTIVE',NULL,NULL,2,2),(3,NULL,'2026-05-15 06:23:57.436906','ACTIVE',NULL,NULL,2,3);
/*!40000 ALTER TABLE `user_roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_session`
--

DROP TABLE IF EXISTS `user_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_session` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `access_token` varchar(255) DEFAULT NULL,
  `refresh_token` varchar(255) DEFAULT NULL,
  `user_name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_session`
--

LOCK TABLES `user_session` WRITE;
/*!40000 ALTER TABLE `user_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_session` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-15  7:15:57
